* html, * html body {
    background-image: url(about:blank);
    background-attachment: fixed;
}

#chatBtn {
    position: fixed;
    position: fixed \9;
    *position: fixed;
    _position: absolute;
    background-color: #19CAA6;
    font-family: 'Helvetica Neue', 'Helvetica', 'Microsoft Yahei', 'Arial', 'sans-serif';
    font-size: 16px;
    line-height: 24px;
    _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
    right: 100px;
    bottom: -42px;
    color: #fff;
    text-align: center;
    padding: 8px 10px 8px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    z-index: 2147483645;
    width:auto;
}

#qimo_chatpup {
    position: fixed;
    position: fixed \9;
    *position: fixed;
    _position: absolute;
    _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
    right: 100px;
    bottom: -100%;
    width: 355px;
    height: 500px;
    z-index: 2147483647;
    overflow: hidden;
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 3px 2px rgba(53, 53, 53, 0.1);
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-style: solid solid none;
    border-top-color: #19CAA6;
    border-right-color: #19CAA6;
    border-left-color: #19CAA6;
}

iframe{
    border:0;
}



